# Suricata Reference Configuration
# Defines external reference systems for rules

# Bug tracking systems
config reference: bugtraq http://www.securityfocus.com/bid/
config reference: cve http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nessus http://cgi.nessus.org/plugins/dump.php3?id=

# Vendor security advisories
config reference: arachnids http://www.whitehats.com/info/IDS
config reference: mcafee http://vil.nai.com/vil/content/v_
config reference: url http://
config reference: et http://doc.emergingthreats.net/
config reference: etpro http://doc.emergingthreatspro.com/

# Misc references
config reference: osvdb http://osvdb.org/show/osvdb/
config reference: secunia http://secunia.com/advisories/
config reference: xforce http://xforce.iss.net/xforce/xfdb/
config reference: msft http://technet.microsoft.com/en-us/security/bulletin/
